@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    min-height: 100vh;
    font-family: "Varela Round", sans-serif;
    color: #000000;
    background-color: #ffffff;
  }
}
